html {
    font-size: 62.5%;
    --letter1: "Raleway";
    --letter2: "Open Sans";
    --color1: #FFF;
    --color2: #07043B;
    --color3: #C2C2C2;
    --color4: #615F7E;
    --color5: #3DA08F;
    --color6: #C0C0C0;
    --color7: #2F65F8;
    --color8: #F8F8FE;
    --color9: #575988;
    --weight1: 400;
    --weight2: 700;
}

body {
    background-color: var(--color1);
}

.navbar {
    display: flex;
    margin: 24px 6.4% 0 6.4%;
    justify-content: space-between;
}

.navbar__icon {
    object-fit: contain;
    height: auto;
    width: 24%;
}

.navbar__list {
    font-family: var(--letter1);
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 51%;
    align-items: center;
}

.navbar__item {
    font-size: calc(1.2rem + 0.5vw);
    color: var(--color2);
    font-weight: var(--weight1);
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 98px;
}

.section1__image {
    object-fit: contain;
    height: auto;
    width: 81%;
}

.section1__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__title {
    color: var(--color2);
    font-size: calc(2.4rem + 0.5vw);
    font-family: var(--letter2);
    margin-top: 40px;
    width: 85%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.section1__text {
    color: var(--color2);
    text-align: center;
    font-family: var(--letter2);
    font-size: calc(1.4rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-top: 24px;
    width: 80%;
}

.form1 {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 81%;
}

.form__input-big{
    height: calc(4rem + 0.5vw);
    border-radius: 3.13px;
    border: 1px solid var(--color2);
    padding: 21px;
    font-family: var(--letter1);
}

.form__placeholder {
    color: var(--color3);
    font-family: var(--letter1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__placeholder--big {
    font-size: calc(1.2rem + 0.5vw);
    letter-spacing: 0.4px;
}

.form__button {
    background-color: var(--color7);
    color: var(--color1);
    font-family: var(--letter1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.form__button--big {
    margin-top: 16px;
    height: calc(4rem + 0.5vw);
    border-radius: 3.13px;
    font-size: calc(1.4rem + 0.5vw);
}

.section2__start {
    mask-image: url("../assets/Fylo-landing-page-info/fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg");
    height: 93px;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color8);
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: var(--color8);
    align-items: center;
}

.section2__image {
    object-fit: contain;
    height: auto;
    width: 85%;
    margin-bottom: 87px;
}

.section2__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2__title {
    color: var(--color2);
    text-align: center;
    font-family: var(--letter1);
    font-size: calc(1.6rem + 0.5vw);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}

.section2__text {
    color: var(--color4);
    text-align: center;
    font-family: var(--letter2);
    font-size: calc(1.4rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 85%;
}

.section2 p:nth-child(2) {
    margin-bottom: 16px;
}

.section2 p:nth-child(3) {
    margin-bottom: 36px;
}

.section2__link{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    min-width: calc(1.3rem + 0.5vw);
    text-decoration: none;
    border-bottom: 2px solid var(--color5);
    padding-bottom: 6px;
    margin-bottom: 40px;
}

.link__text {
    color: var(--color5);
    font-family: var(--letter2);
    font-size: calc(1.2rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 8px;
}

.link__icon {
    margin-left: 8px;
    width: calc(1.2rem + 0.5vw);
    height: auto;
}

.comment {
    width: 90%;
    padding: 26px 13px 20px 26px;
    border-radius: 3.93px;
    margin-bottom: 82px;
    background-color: var(--color1);
}

.comment__start {
    margin-bottom: 10px;
}

.comment__text {
    color: var(--color2);
    font-family: var(--letter2);
    font-size: calc(1rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 18.09px;
    letter-spacing: 0.385px;
    margin-bottom: 12px;
}

.profile {
    display: flex;
}

.profile__image {
    height: calc(2.4rem + 0.5vw);
    width: auto;
    border-radius: 50%;
    margin-right: calc(0.8rem + 0.5vw);
}

.profile__description {
    display: flex;
    flex-direction: column;
}

.profile__name {
    color: var(--color2);
    font-family: var(--letter2);
    font-size: calc(0.9rem + 0.5vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.45px;
}

.profile__position {
    color: var(--color2);
    font-family: var(--letter2);
    font-size: calc(0.6rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 11.798px;
    letter-spacing: 0.3px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color9);
}

.section3__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}

.section3__title {
    color: var(--color1);
    font-family: var(--letter1);
    font-size: calc(1.8rem + 0.5vw);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
}

.section3__text {
    color: var(--color1);
    text-align: center;
    font-family: var(--letter2);
    font-size: calc(1.4rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 24px;
    width: 85%;
}

.form2 {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-bottom: 71px;
}

.form__input-small {
    height: calc(3.2rem + 0.5vw);
    border-radius: 1.47px;
    padding: 8px;
    border: none;
}

.form__placeholder--small {
    font-size: calc(1rem + 0.5vw);
}

.form__button--small {
    margin-top: 8px;
    height: calc(3.2rem + 0.5vw);
    font-size: calc(1rem + 0.5vw);
    border-radius: 1.47px;
}

.footer {
    padding-top: 65px;
    padding-left: 10%;
    background-color: var(--color2);
    padding-bottom: 42px;
}

.footer__icon {
    height: 30px;
    width: 105px;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color1);
    mask-image: url("../assets/Fylo-landing-page-info/fylo-landing-page-with-two-column-layout-master/images/logo.svg");
    margin-bottom: 32px;
}

.contact__number, .contact__email {
    color: var(--color1);
    font-family: var(--letter2);
    font-size: calc(1.6rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    margin-left: 16px;
}

.contact > .phone {
    margin-bottom: 16px;
}

.contact > .email {
    margin-bottom: 32px;
}

.about__item, .terms__item {
    color: var(--color1);
    font-family: var(--letter2);
    font-size: calc(1.6rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about li:nth-child(n+1):nth-child(-n+3), .terms li:nth-child(n+1):nth-child(-n+2) {
    margin-bottom: 16px;
}

.about li:nth-child(4), .terms li:nth-child(3) {
    margin-bottom: 32px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 0 auto;
}

.social__facebook {
    mask-image: url("https://img.icons8.com/?size=100&id=59780&format=png&color=000000");
}

.social__twitter {
    mask-image: url("https://img.icons8.com/?size=100&id=8824&format=png&color=000000");
}

.social__instagram {
    mask-image: url("https://img.icons8.com/?size=100&id=32309&format=png&color=000000");
}

.social__facebook--styles, .social__twitter--styles, .social__instagram--styles {
    height: 27px;
    width: 27px;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color1);
}

@media (min-width: 770px) {

    .navbar {
        margin: 80px 5% 0 5%;
    }

    .navbar__icon {
        width: 12%;
    }

    .navbar__list {
        width: 28%;
    }

    .navbar__item {
        font-size: 1.6rem;
    }

    .section1 {
        flex-direction: row;
        margin: 100px 5% 164px 5%;
    }

    .section1__image {
        order: 1;
        width: 50%;
        /* margin: 0; */
    }
    
    .section1__info {
        align-items:flex-start;
    }

    .section1__title {
        font-size: 4rem;
        text-align: left;
        line-height: 60px;
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;
        font-family: var(--letter1);
    }

    .section1__text {
        font-size: 1.7rem;
        line-height: 24px;
        letter-spacing: 0.531px;
        text-align: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .form1 {
        flex-direction: row;
        margin: 0;
    }

    .form__input-big {
        height: 4.5rem;
        width: 70%;
        margin-right: 16px;
    }

    .form__placeholder--big {
        font-size: 1.4rem;
        letter-spacing: 0.467px;
        font-family: var(--letter2);
    }
    
    .form__button--big {
        height: 4.5rem;
        margin: 0;
        width: 30%;
        font-size: 1.4rem;
    }

    .section2__start {
        mask-image: url(../assets/Fylo-landing-page-info/fylo-landing-page-with-two-column-layout-master/images/bg-curve-desktop.svg);
        height: 178px;
        mask-size: cover;
        mask-repeat: no-repeat;
        background-color: var(--color8);
        mask-position: center;
    }

    .section2 {
        flex-direction: row;
        padding: 0 5% 0 5%;
    }

    .section2__image {
        order: 1;
        width: 42%;
    }

    .section2__info {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .section2__title {
        font-size: 4rem;
        margin-bottom: 38px;
        margin-top: 5px;
        text-align: left;
        line-height: normal;
    }

    .section2__text {
        color: var(--color2);
        font-size: 1.6rem;
        line-height: 24px;
        text-align: left;
        width: 72%;
    }

    .section2__link {
        padding-bottom: 4px;
        margin-bottom: 45px;
    }

    .link__text {
        font-size: 1.6rem;
    }

    .comment {
        width: 48%;
        padding: 32px 34px 26px 34px;
        border-radius: 5px;
        margin-bottom: 107px;
    }

    .comment__text {
        font-size: 1.3rem;
        line-height: 23px;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }

    .profile__image {
        height: 3.2rem;
        width: auto;
    }

    .profile__name {
        font-size: 1.1rem;
        letter-spacing: 0.55px;
    }

    .profile__position {
        font-size: 0.8rem;
        line-height: 15px;
        letter-spacing: 0.4px;
    }

    .section3 {
        flex-direction: row;
        align-items: flex-start;
    }

    .section3__info {
        align-items: flex-start;
        margin: 100px 227px 85px 80px;
    }

    .section3__title {
        font-size: 3.2rem;
        line-height: 48px;
    }

    .section3__text {
        text-align: left;
        font-size: 1.6rem;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-bottom: 0;
    }

    .form2 {
        margin-top: 112px;
        margin-bottom: 0;
        margin-right: 120px;
    }

    .form__input--small {
        height: 48px;
        border-radius: 3.13px;
        padding: 16px 0 18px 22px;
    }

    .form__placeholder--small {
        font-size: 1.2rem;
    }

    .form__button--small {
        height: 48px;
        font-size: 1.4rem;
        width: 42%;
        min-width: 150px;
        border-radius: 3.13px;
    }

}